<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nasax.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NasaXApplication"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light"
        android:label="@string/app_name" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name=".EventProfileActivity"
            android:label="@string/title_activity_event_profile" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".AttendeeDetail"
            android:label="@string/title_activity_attendee_detail" >
        </activity>
    </application>

</manifest>